body {
  background: #2d324f;

}

input {
  display: inline-block;
  background-color: #5d6070;
  color: #ffffff;
  border-width:0px;
  border:none;
  font-size: 30px;
}

#div_search_box {
  display: inline-block;
  padding-top: 5px;
}

.query_entry {
  font-size:30px;
  color: #ffffff;
}
